main {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  min-height: 400px;
  width: 100%;
  flex-grow: 1;
}

article {
  display: flex;
  position: absolute;
  border-radius: 0.5rem;
  background-color: #ffffff;
  flex-direction: column;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  max-width: 700px;
  padding: 1rem;
  top: 8rem;
  width: 90%;
  gap: 1rem;
}

section {
  display: flex;
  flex-direction: column;
}

hr {
  border: none;
  border-bottom: 1px solid #f0f0f0;
  background-color: transparent;
}

.expense-section-total > .group {
  display: flex;
  flex-direction: column;
  border-left: 0.2rem solid #0ac067;
  padding-left: 0.5rem;
  gap: 0.2rem;
}

.expense-section-total > .group > .title {
  color: #999999;
}

.expense-section-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.expense-section-list > .list {
  display: flex;
  flex-direction: column;
  max-height: 40vh;
  overflow-y: auto;
}

li {
  list-style: none;
  padding: 1rem;
  cursor: pointer;
}

li:hover {
  background-color: #e2faff;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.item > .icon {
  height: 2rem;
  width: 2rem;
}

.item > .value {
  margin-left: auto;
  white-space: nowrap;
  color: #01a0c0;
}

.edit-remove-warning {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem;
  background-color: #e0e0e0;
  padding: 0.5rem;
}

.edit-remove-warning > .material-symbols-rounded {
  font-size: 20px;
  cursor: pointer;
}

.edit-icon > .material-symbols-rounded {
  font-size: 20px;
  color: #ff7230;
  cursor: pointer;
  user-select: none;
}

.delete-icon > .material-symbols-rounded {
  font-size: 20px;
  color: #ff5c48;
  cursor: pointer;
  user-select: none;
}
