header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #19d173;
  color: #ffffff;
  padding: 0rem 1rem;
  min-height: 10rem;
  width: 100%;
}

.user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1.5rem;
  gap: 0.5rem;
}

.avatar {
  height: 4rem;
}
