footer {
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  min-height: 6rem;
  width: 100%;
  bottom: 0;
  gap: 4rem;
}

.material-symbols-rounded {
  font-size: 36px;
}
